nodered_flows/FLOWS_AGILE_MIDTERM_REST.txt
[{"id":"b2480b7b.51be28","type":"tab","label":"Register"},{"id":"e849ac54.d3ee","type":"tab","label":"Presence"},{"id":"3c1881be.b2d86e","type":"tab","label":"Temperature"},{"id":"148fc946.d685a7","type":"tab","label":"Stock"},{"id":"298aa8b0.549658","type":"tab","label":"Alarm"},{"id":"3e65787f.0476c8","type":"tab","label":"IoT Display"},{"id":"5f23f111.9793c","type":"ui_tab","z":"","name":"AGILE Dashboard","icon":"dashboard","order":2},{"id":"2be315b7.4b1bea","type":"ui_group","z":"","name":"Graphics","tab":"5f23f111.9793c","order":2,"disp":false,"width":"14"},{"id":"2f57ff7f.42f76","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"8e9dcee2.76817","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"d6b2a190.46819","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"b6c5f37f.83a2c","type":"ui_group","z":"","name":"Presence Sensor Test","tab":"","disp":true,"width":"10"},{"id":"656bd27a.7c77ac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d0cbbc56.096ee","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"184a879e.35aa18","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"a3bd631c.683b5","type":"ui_group","z":"","name":"Presence","tab":"5f23f111.9793c","order":1,"disp":false,"width":"14"},{"id":"b660f1ba.dc81","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"da40d059.a04da","type":"ui_group","z":"","name":"Actions","tab":"5f23f111.9793c","order":3,"disp":false,"width":"14"},{"id":"2be61b51.becba4","type":"debug","z":"3c1881be.b2d86e","name":"log","active":false,"console":"false","complete":"true","x":782,"y":217,"wires":[]},{"id":"5b824a96.4bb274","type":"function","z":"3c1881be.b2d86e","name":"parse_and_publish","func":"var parsePayload = JSON.parse(msg.payload);\nmsg.payload = JSON.parse(parsePayload.value);\n\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":256,"wires":[["5adfc649.af7128","c5b58e17.5d81b"]]},{"id":"3bcf7616.517dca","type":"ui_chart","z":"3c1881be.b2d86e","name":"","group":"2be315b7.4b1bea","order":1,"width":"7","height":"7","label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"200","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":803,"y":51,"wires":[[],[]]},{"id":"74df7ea5.cb77c","type":"inject","z":"3c1881be.b2d86e","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"x":133,"y":102,"wires":[["4cb4f1a0.ab39a"]]},{"id":"4cb4f1a0.ab39a","type":"http request","z":"3c1881be.b2d86e","name":"Temperature","method":"GET","ret":"txt","url":"http://agile:8080/api/device/xbee_zigbee0013a20040e7d747/temperature","tls":"","x":306,"y":102,"wires":[["5b824a96.4bb274"]]},{"id":"ee578e1b.2cc1c","type":"function","z":"148fc946.d685a7","name":"parse_and_publish","func":"var parsePayload = JSON.parse(msg.payload);\nmsg.payload = JSON.parse(parsePayload.value);\n\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":247,"wires":[["ed24c0f2.62667","9144c9ff.cd19d8"]]},{"id":"2d838489.b8dcfc","type":"ui_chart","z":"148fc946.d685a7","name":"","group":"2be315b7.4b1bea","order":2,"width":"7","height":"7","label":"stock","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"200","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":751,"y":241,"wires":[[],[]]},{"id":"37ece3f6.44cf9c","type":"debug","z":"148fc946.d685a7","name":"log","active":false,"console":"false","complete":"true","x":751,"y":42,"wires":[]},{"id":"5bdd0b6b.cec8f4","type":"inject","z":"148fc946.d685a7","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":128,"y":71,"wires":[["e0401896.e7b1d8"]]},{"id":"e0401896.e7b1d8","type":"http request","z":"148fc946.d685a7","name":"Stock","method":"GET","ret":"txt","url":"http://agile:8080/api/device/xbee_zigbee0013a20040e7d747/stock","tls":"","x":280,"y":70,"wires":[["ee578e1b.2cc1c"]]},{"id":"d4ed09dd.c217f8","type":"json","z":"e849ac54.d3ee","name":"Message parser","x":152,"y":190,"wires":[["12448449.8f584c"]]},{"id":"5cb75a60.15d574","type":"rbe","z":"e849ac54.d3ee","name":"Detect changes","func":"rbe","gap":"","start":"","inout":"out","x":672,"y":133,"wires":[["9ca909ce.269708","13e17b6c.fb1455"]]},{"id":"9ca909ce.269708","type":"trigger","z":"e849ac54.d3ee","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":874,"y":102,"wires":[["7e82ef89.bab38"]]},{"id":"12448449.8f584c","type":"function","z":"e849ac54.d3ee","name":"Extract value","func":"msg.payload = JSON.parse(msg.payload.value);\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":107,"wires":[["5cb75a60.15d574","5c582bca.c4a844","e093a213.3b7628"]]},{"id":"7e82ef89.bab38","type":"ui_template","z":"e849ac54.d3ee","group":"a3bd631c.683b5","name":"Presence indicator","order":1,"width":"14","height":"1","format":"<style>\n    .div-wrapper {\n        widht: 100%;\n        text-align: center;\n    }\n    .alert {\n        font-weight: bold;\n        color: red;\n    }\n    .hide {\n        display: none;\n    }\n</style>\n\n<div class=\"div-wrapper\" ng-class=\"{'hide': msg.payload != 'ON' }\" >\n    <span class=\"alert\" >\n        <ng-md-icon class=\"rotate\" icon=\"notifications_active\"></ng-md-icon> \n        PRESENCE DETECTED!\n    </span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"x":1058,"y":102,"wires":[[]]},{"id":"44268c3.6ffbd74","type":"inject","z":"e849ac54.d3ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":111,"y":39,"wires":[["77787606.4a1798"]]},{"id":"77787606.4a1798","type":"http request","z":"e849ac54.d3ee","name":"Presence","method":"GET","ret":"txt","url":"http://agile:8080/api/device/xbee_zigbee0013a20040f9a03c/presence","tls":"","x":131,"y":112,"wires":[["d4ed09dd.c217f8"]]},{"id":"5c582bca.c4a844","type":"debug","z":"e849ac54.d3ee","name":"log","active":false,"console":"false","complete":"true","x":647,"y":43,"wires":[]},{"id":"451f3195.7b912","type":"inject","z":"298aa8b0.549658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":55,"wires":[["5d67bb25.f4cac4"]]},{"id":"5d67bb25.f4cac4","type":"http request","z":"298aa8b0.549658","name":"Alarm","method":"POST","ret":"txt","url":"http://agile:8080/api/device/0013a2004155bedb","tls":"","x":285,"y":122,"wires":[["9fa6690f.7d5168"]]},{"id":"9fa6690f.7d5168","type":"debug","z":"298aa8b0.549658","name":"","active":false,"console":"false","complete":"true","x":433,"y":122,"wires":[]},{"id":"13e17b6c.fb1455","type":"function","z":"e849ac54.d3ee","name":"clean","func":"\nmsg={};\nmsg.payload=12345;\nreturn msg;","outputs":"1","noerr":0,"x":858,"y":206,"wires":[["64f26689.3faa98"]]},{"id":"7c085603.08af38","type":"inject","z":"b2480b7b.51be28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":54,"wires":[["209c63a6.d80c0c"]]},{"id":"209c63a6.d80c0c","type":"function","z":"b2480b7b.51be28","name":"Temp&Stock","func":"msg={};\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a20040e7d747\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"Z1_ARD2_sensor_temp_stock\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":109,"wires":[["a5bb138e.def01"]]},{"id":"a5bb138e.def01","type":"http request","z":"b2480b7b.51be28","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":253,"y":182,"wires":[["e4df958e.1dd6e8"]]},{"id":"e4df958e.1dd6e8","type":"function","z":"b2480b7b.51be28","name":"Presence","func":"msg={};\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a20040f9a03c\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"Z2_ARD1_sensor_pres\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":119,"wires":[["95f1ba61.4631c8"]]},{"id":"95f1ba61.4631c8","type":"http request","z":"b2480b7b.51be28","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":473,"y":202,"wires":[["ff0b0a2.a79d4f8"]]},{"id":"44046142.f7dda","type":"function","z":"b2480b7b.51be28","name":"Alarm","func":"msg={};\n\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a2004155bedb\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"ZP1_ARD3_alarma\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":302,"wires":[["745d197a.c9b418"]]},{"id":"745d197a.c9b418","type":"http request","z":"b2480b7b.51be28","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":575,"y":366,"wires":[["316d3b76.0e0384"]]},{"id":"ff0b0a2.a79d4f8","type":"function","z":"b2480b7b.51be28","name":"IoT Display","func":"msg={};\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a20040e7d742\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"Z4_RASP_screen\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":300,"wires":[["c466f15f.d8501"]]},{"id":"c466f15f.d8501","type":"http request","z":"b2480b7b.51be28","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":244,"y":369,"wires":[["44046142.f7dda"]]},{"id":"316d3b76.0e0384","type":"debug","z":"b2480b7b.51be28","name":"","active":false,"console":"false","complete":"false","x":586,"y":434,"wires":[]},{"id":"604a8c23.73f644","type":"link in","z":"298aa8b0.549658","name":"Alarm","links":["64f26689.3faa98"],"x":101,"y":186,"wires":[["5d67bb25.f4cac4"]]},{"id":"64f26689.3faa98","type":"link out","z":"e849ac54.d3ee","name":"","links":["604a8c23.73f644"],"x":970,"y":205,"wires":[]},{"id":"5ff49393.b3009c","type":"link in","z":"3e65787f.0476c8","name":"Temperature","links":["c5b58e17.5d81b"],"x":193,"y":28,"wires":[["7e2c8532.18c5a4"]]},{"id":"9ec015de.94a668","type":"debug","z":"3e65787f.0476c8","name":"","active":false,"console":"false","complete":"false","x":613,"y":118,"wires":[]},{"id":"c5b58e17.5d81b","type":"link out","z":"3c1881be.b2d86e","name":"","links":["5ff49393.b3009c"],"x":571,"y":391,"wires":[]},{"id":"790c2097.8e5f","type":"link in","z":"3e65787f.0476c8","name":"Stock","links":["4d458b70.a32224","9144c9ff.cd19d8"],"x":196,"y":197,"wires":[["7e2c8532.18c5a4"]]},{"id":"a3505853.983b08","type":"http request","z":"3e65787f.0476c8","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/device/0013a20040e7d742","tls":"","x":611,"y":278,"wires":[["c2837d25.5921c"]]},{"id":"18532745.98bc09","type":"link in","z":"3e65787f.0476c8","name":"Presence","links":["e093a213.3b7628"],"x":193,"y":385,"wires":[["7e2c8532.18c5a4"]]},{"id":"5adfc649.af7128","type":"function","z":"3c1881be.b2d86e","name":"getValue","func":"msg.payload = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":139,"wires":[["3bcf7616.517dca","2be61b51.becba4"]]},{"id":"7e2c8532.18c5a4","type":"function","z":"3e65787f.0476c8","name":"Parser REST","func":"var payloadTmp= msg.payload;\n\nmsg={};\n\nmsg.payload=payloadTmp;\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":200,"wires":[["a3505853.983b08","9ec015de.94a668"]]},{"id":"ed24c0f2.62667","type":"function","z":"148fc946.d685a7","name":"getValue","func":"msg.payload = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":145,"wires":[["37ece3f6.44cf9c","2d838489.b8dcfc"]]},{"id":"9144c9ff.cd19d8","type":"link out","z":"148fc946.d685a7","name":"","links":["790c2097.8e5f"],"x":537,"y":353,"wires":[]},{"id":"e093a213.3b7628","type":"link out","z":"e849ac54.d3ee","name":"","links":["18532745.98bc09"],"x":632,"y":269,"wires":[]},{"id":"c2837d25.5921c","type":"debug","z":"3e65787f.0476c8","name":"","active":false,"console":"false","complete":"true","x":785,"y":278,"wires":[]},{"id":"1d19846d.b549ac","type":"ui_template","z":"298aa8b0.549658","group":"da40d059.a04da","name":"ALARM","order":0,"width":"14","height":"1","format":"<div >\n  <script>\nvar value = \"12345\";\nthis.scope.action = function() { return value; }\n</script>\n<md-button style='float: right;' ng-click=\"send({payload:action()})\">\n   ALARM\n</md-button>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":95,"y":274,"wires":[["5d67bb25.f4cac4"]]}]