nodered_flows/FLOWS_AGILE_REST_v1_beacon.txt
[{"id":"2baa3588.c4df6a","type":"tab","label":"Register"},{"id":"c3bfd80e.b97f98","type":"tab","label":"Presence"},{"id":"7d509634.dbca28","type":"tab","label":"Temperature"},{"id":"ce8ef625.7cf038","type":"tab","label":"Stock"},{"id":"9445627c.438a5","type":"tab","label":"Alarm"},{"id":"964d3462.b2db28","type":"tab","label":"IoT Display"},{"id":"8db6415d.da423","type":"tab","label":"iBeacon"},{"id":"f427a4c0.9177c8","type":"agile-config-server","z":"","host":"localhost","port":"8080"},{"id":"b4aa26bd.0abbf8","type":"agile-config-server","z":"","host":"localhost","port":"8080"},{"id":"2a2f2a16.d51846","type":"agile-config-server","z":"","host":"localhost","port":"8080"},{"id":"9bbf72ff.a96ef","type":"agile-config-server","z":"","host":"localhost","port":"8080"},{"id":"478551b0.094e4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6cd3c7be.717038","type":"agile-config-server","z":"","host":"localhost","port":"8080"},{"id":"5687ca20.0bb5d4","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"e1384dba.c1a8c","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"9bc4d70e.0f9328","type":"ui_tab","z":"","name":"AGILE Dashboard","icon":"dashboard","order":2},{"id":"e693604f.ef9f2","type":"ui_group","z":"","name":"Graphics","tab":"9bc4d70e.0f9328","order":2,"disp":false,"width":"14"},{"id":"ab7b0cb0.adbf5","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"b30e37a8.93ef58","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"850e5106.6c51","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"284faa.40c87056","type":"ui_group","z":"","name":"Presence Sensor Test","tab":"","disp":true,"width":"10"},{"id":"93e86dce.e918f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c1238749.6a5308","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"d216f9a6.aa3278","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"379d4025.8e2d7","type":"ui_group","z":"","name":"Presence","tab":"9bc4d70e.0f9328","order":1,"disp":false,"width":"14"},{"id":"64351ff3.c4ff4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"37654c6b.81e5e4","type":"ui_group","z":"","name":"Actions","tab":"9bc4d70e.0f9328","order":3,"disp":false,"width":"14"},{"id":"55344dad.5a00b4","type":"ui_tab","z":"","name":"AGILE Dashboard","icon":"dashboard","order":2},{"id":"618cbb36.2778d4","type":"ui_group","z":"","name":"Graphics","tab":"55344dad.5a00b4","order":2,"disp":false,"width":"14"},{"id":"b8e19b18.c52ac8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"9bcdb98e.b10848","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"6ac6bef5.e582b","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"c1020451.ec15d8","type":"ui_group","z":"","name":"Presence Sensor Test","tab":"","disp":true,"width":"10"},{"id":"e1e016d5.eb32a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f73df9e5.ff47b8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"dfdb22a1.0480f","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"f44c4e63.52133","type":"ui_group","z":"","name":"Presence","tab":"55344dad.5a00b4","order":1,"disp":false,"width":"14"},{"id":"48989ba1.e74dc4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b0ec2ebb.0a4f5","type":"ui_group","z":"","name":"Actions","tab":"55344dad.5a00b4","order":3,"disp":false,"width":"14"},{"id":"95556c13.3838","type":"json","z":"8db6415d.da423","name":"","x":452,"y":173,"wires":[["eb732f54.cc43"]]},{"id":"eb732f54.cc43","type":"function","z":"8db6415d.da423","name":"purge msg payload","func":"var value=msg.payload.value;\nmsg={};\n\nmsg.payload=value\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":173,"wires":[["b1ecce01.6d42f"]]},{"id":"b1ecce01.6d42f","type":"json","z":"8db6415d.da423","name":"","x":464,"y":268,"wires":[["a1d670d9.c19d1"]]},{"id":"a1d670d9.c19d1","type":"split","z":"8db6415d.da423","name":"","splt":"\\n","x":607,"y":268,"wires":[["ec1fdc14.f93a4"]]},{"id":"ec1fdc14.f93a4","type":"function","z":"8db6415d.da423","name":"FilterByDate","func":"var time = new Date(msg.payload.date);\nvar now= new Date();\n\nvar deltatime =now.getTime()-time.getTime();\n\nif (deltatime < 10000) \n{\n    //ten seconds\n    msg.payload=msg.payload.value;\n    return msg;\n}\nelse    \n    return null;","outputs":"1","noerr":0,"x":533,"y":474,"wires":[["683379e3.c0c5b8"]]},{"id":"683379e3.c0c5b8","type":"function","z":"8db6415d.da423","name":"RssiToMeter","func":"\nvar txPower = msg.payload.measuredpower;\nvar rssi = msg.payload.rssi;\n\n\n  if (rssi === 0) {\n    return -1; // if we cannot determine accuracy, return -1.\n  }\n\n  var ratio = rssi * 1 / txPower;\n  if (ratio < 1.0) {\n    msg.payload.meters=Math.pow(ratio, 10);\n  } else {\n    msg.payload.meters= (0.89976) * Math.pow(ratio, 7.7095) + 0.111;\n  }\n\n\ndelete msg.payload.measuredpower;\ndelete msg.payload.rssi;\n\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":473,"wires":[["ad1361c9.8437d"]]},{"id":"ad1361c9.8437d","type":"function","z":"8db6415d.da423","name":"FilterByDistance","func":"\nif (msg.payload.meters<3)\nreturn msg;\nelse \nreturn null;","outputs":1,"noerr":0,"x":698,"y":561,"wires":[["94589c94.9965c"]]},{"id":"fe365ac4.2b3be8","type":"debug","z":"7d509634.dbca28","name":"log","active":false,"console":"false","complete":"true","x":782,"y":217,"wires":[]},{"id":"cc3ab0f6.37552","type":"function","z":"7d509634.dbca28","name":"parse_and_publish","func":"var parsePayload = JSON.parse(msg.payload);\nmsg.payload = JSON.parse(parsePayload.value);\n\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":256,"wires":[["96145318.a10fe","70c4aae1.2c4094"]]},{"id":"fea6c657.8ec538","type":"ui_chart","z":"7d509634.dbca28","name":"","group":"618cbb36.2778d4","order":1,"width":"7","height":"7","label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"200","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":803,"y":51,"wires":[[],[]]},{"id":"4d8143c5.e2e00c","type":"inject","z":"7d509634.dbca28","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"x":133,"y":102,"wires":[["bf5306e0.2b2268"]]},{"id":"bf5306e0.2b2268","type":"http request","z":"7d509634.dbca28","name":"Temperature","method":"GET","ret":"txt","url":"http://agile:8080/api/device/xbee_zigbee0013a20040e7d747/temperature","tls":"","x":306,"y":102,"wires":[["cc3ab0f6.37552"]]},{"id":"1948db92.dca724","type":"function","z":"ce8ef625.7cf038","name":"parse_and_publish","func":"var parsePayload = JSON.parse(msg.payload);\nmsg.payload = JSON.parse(parsePayload.value);\n\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":247,"wires":[["1b26bee3.ddf361","fd2045fd.000d28"]]},{"id":"b8e41aad.f7fda8","type":"ui_chart","z":"ce8ef625.7cf038","name":"","group":"618cbb36.2778d4","order":2,"width":"7","height":"7","label":"stock","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"200","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":751,"y":241,"wires":[[],[]]},{"id":"62361d88.fa6f24","type":"debug","z":"ce8ef625.7cf038","name":"log","active":false,"console":"false","complete":"true","x":751,"y":42,"wires":[]},{"id":"f76ff33.052c71","type":"inject","z":"ce8ef625.7cf038","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":128,"y":71,"wires":[["cc6e224f.c1069"]]},{"id":"cc6e224f.c1069","type":"http request","z":"ce8ef625.7cf038","name":"Stock","method":"GET","ret":"txt","url":"http://agile:8080/api/device/xbee_zigbee0013a20040e7d747/stock","tls":"","x":280,"y":70,"wires":[["1948db92.dca724"]]},{"id":"374706ec.6f8d1a","type":"json","z":"c3bfd80e.b97f98","name":"Message parser","x":152,"y":190,"wires":[["64729449.5cad2c"]]},{"id":"71ee43af.6f40bc","type":"rbe","z":"c3bfd80e.b97f98","name":"Detect changes","func":"rbe","gap":"","start":"","inout":"out","x":672,"y":133,"wires":[["fdd8aa86.a5de58","a271e620.73b768"]]},{"id":"fdd8aa86.a5de58","type":"trigger","z":"c3bfd80e.b97f98","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":874,"y":102,"wires":[["75f9f45d.1c305c"]]},{"id":"64729449.5cad2c","type":"function","z":"c3bfd80e.b97f98","name":"Extract value","func":"msg.payload = JSON.parse(msg.payload.value);\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":107,"wires":[["71ee43af.6f40bc","d0bee29.15ded2","faf05b88.21e178"]]},{"id":"75f9f45d.1c305c","type":"ui_template","z":"c3bfd80e.b97f98","group":"f44c4e63.52133","name":"Presence indicator","order":1,"width":"14","height":"1","format":"<style>\n    .div-wrapper {\n        widht: 100%;\n        text-align: center;\n    }\n    .alert {\n        font-weight: bold;\n        color: red;\n    }\n    .hide {\n        display: none;\n    }\n</style>\n\n<div class=\"div-wrapper\" ng-class=\"{'hide': msg.payload != 'ON' }\" >\n    <span class=\"alert\" >\n        <ng-md-icon class=\"rotate\" icon=\"notifications_active\"></ng-md-icon> \n        PRESENCE DETECTED!\n    </span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"x":1058,"y":102,"wires":[[]]},{"id":"16de241c.874b4c","type":"inject","z":"c3bfd80e.b97f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":111,"y":39,"wires":[["be88b540.50e718"]]},{"id":"be88b540.50e718","type":"http request","z":"c3bfd80e.b97f98","name":"Presence","method":"GET","ret":"txt","url":"http://agile:8080/api/device/xbee_zigbee0013a20040f9a03c/presence","tls":"","x":131,"y":112,"wires":[["374706ec.6f8d1a"]]},{"id":"d0bee29.15ded2","type":"debug","z":"c3bfd80e.b97f98","name":"log","active":false,"console":"false","complete":"true","x":647,"y":43,"wires":[]},{"id":"28d8ca39.98dbb6","type":"inject","z":"9445627c.438a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":55,"wires":[["9b788efb.b7049"]]},{"id":"9b788efb.b7049","type":"http request","z":"9445627c.438a5","name":"Alarm","method":"POST","ret":"txt","url":"http://agile:8080/api/device/0013a2004155bedb","tls":"","x":285,"y":122,"wires":[["35216678.e8874a"]]},{"id":"35216678.e8874a","type":"debug","z":"9445627c.438a5","name":"","active":false,"console":"false","complete":"true","x":433,"y":122,"wires":[]},{"id":"a271e620.73b768","type":"function","z":"c3bfd80e.b97f98","name":"clean","func":"\nmsg={};\nmsg.payload=12345;\nreturn msg;","outputs":"1","noerr":0,"x":858,"y":206,"wires":[["6cb799ba.486bb8"]]},{"id":"c08a92e4.bde36","type":"inject","z":"2baa3588.c4df6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":54,"wires":[["c5e51fcc.d0aab"]]},{"id":"c5e51fcc.d0aab","type":"function","z":"2baa3588.c4df6a","name":"Temp&Stock","func":"msg={};\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a20040e7d747\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"Z1_ARD2_sensor_temp_stock\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":109,"wires":[["7d73c334.d0406c"]]},{"id":"7d73c334.d0406c","type":"http request","z":"2baa3588.c4df6a","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":253,"y":182,"wires":[["2db096f1.804e6a"]]},{"id":"2db096f1.804e6a","type":"function","z":"2baa3588.c4df6a","name":"Presence","func":"msg={};\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a20040f9a03c\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"Z2_ARD1_sensor_pres\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":119,"wires":[["25ae4ca0.4c8314"]]},{"id":"25ae4ca0.4c8314","type":"http request","z":"2baa3588.c4df6a","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":473,"y":202,"wires":[["2bce7026.7acef"]]},{"id":"cc187359.788d2","type":"function","z":"2baa3588.c4df6a","name":"Alarm","func":"msg={};\n\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a2004155bedb\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"ZP1_ARD3_alarma\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":302,"wires":[["404932e.4bb4ecc"]]},{"id":"404932e.4bb4ecc","type":"http request","z":"2baa3588.c4df6a","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":575,"y":366,"wires":[["f569dd67.c1836"]]},{"id":"2bce7026.7acef","type":"function","z":"2baa3588.c4df6a","name":"IoT Display","func":"msg={};\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a20040e7d742\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"Z4_RASP_screen\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":300,"wires":[["57edc81d.c5eb98"]]},{"id":"57edc81d.c5eb98","type":"http request","z":"2baa3588.c4df6a","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":244,"y":369,"wires":[["cc187359.788d2"]]},{"id":"47f93eb1.2424e","type":"debug","z":"2baa3588.c4df6a","name":"","active":false,"console":"false","complete":"false","x":586,"y":434,"wires":[]},{"id":"520eeb3c.ffc014","type":"link in","z":"9445627c.438a5","name":"Alarm","links":["6cb799ba.486bb8"],"x":101,"y":186,"wires":[["9b788efb.b7049"]]},{"id":"6cb799ba.486bb8","type":"link out","z":"c3bfd80e.b97f98","name":"","links":["520eeb3c.ffc014"],"x":970,"y":205,"wires":[]},{"id":"ccb95a5f.ae0e28","type":"link in","z":"964d3462.b2db28","name":"Temperature","links":["70c4aae1.2c4094"],"x":193,"y":28,"wires":[["1ea55f39.52a241"]]},{"id":"c70a3ccd.ad757","type":"debug","z":"964d3462.b2db28","name":"","active":false,"console":"false","complete":"false","x":613,"y":118,"wires":[]},{"id":"70c4aae1.2c4094","type":"link out","z":"7d509634.dbca28","name":"","links":["ccb95a5f.ae0e28"],"x":571,"y":391,"wires":[]},{"id":"ae447c06.4480d","type":"link in","z":"964d3462.b2db28","name":"Stock","links":["4d458b70.a32224","fd2045fd.000d28"],"x":196,"y":197,"wires":[["1ea55f39.52a241"]]},{"id":"d4922337.8ec19","type":"http request","z":"964d3462.b2db28","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/device/0013a20040e7d742","tls":"","x":611,"y":278,"wires":[["8b6c9f21.63d4e"]]},{"id":"d2b9d5b2.c5e428","type":"link in","z":"964d3462.b2db28","name":"Presence","links":["faf05b88.21e178"],"x":193,"y":385,"wires":[["1ea55f39.52a241"]]},{"id":"96145318.a10fe","type":"function","z":"7d509634.dbca28","name":"getValue","func":"msg.payload = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":139,"wires":[["fea6c657.8ec538","fe365ac4.2b3be8"]]},{"id":"1ea55f39.52a241","type":"function","z":"964d3462.b2db28","name":"Parser REST","func":"var payloadTmp= msg.payload;\n\nmsg={};\n\nmsg.payload=payloadTmp;\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":200,"wires":[["d4922337.8ec19","c70a3ccd.ad757"]]},{"id":"1b26bee3.ddf361","type":"function","z":"ce8ef625.7cf038","name":"getValue","func":"msg.payload = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":145,"wires":[["62361d88.fa6f24","b8e41aad.f7fda8"]]},{"id":"fd2045fd.000d28","type":"link out","z":"ce8ef625.7cf038","name":"","links":["ae447c06.4480d"],"x":537,"y":353,"wires":[]},{"id":"faf05b88.21e178","type":"link out","z":"c3bfd80e.b97f98","name":"","links":["d2b9d5b2.c5e428"],"x":632,"y":269,"wires":[]},{"id":"8b6c9f21.63d4e","type":"debug","z":"964d3462.b2db28","name":"","active":false,"console":"false","complete":"true","x":785,"y":278,"wires":[]},{"id":"42b5ecab.0ee2b4","type":"ui_template","z":"9445627c.438a5","group":"b0ec2ebb.0a4f5","name":"ALARM","order":0,"width":"14","height":"1","format":"<div >\n  <script>\nvar value = \"12345\";\nthis.scope.action = function() { return value; }\n</script>\n<md-button style='float: right;' ng-click=\"send({payload:action()})\">\n   ALARM\n</md-button>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":95,"y":274,"wires":[["9b788efb.b7049"]]},{"id":"f569dd67.c1836","type":"function","z":"2baa3588.c4df6a","name":"iBeaconScanner","func":"msg={};\n\nmsg.payload='{ '+\n'\"overview\": {'+\n'\"id\": \"0013a2004155bed4\",'+\n'\"protocol\": \"XBee_ZigBee\",'+\n'\"name\": \"ZP2_NANO1_BECSCAN\",'+\n'\"status\": \"\"'+\n'},'+\n'\"type\": \"ARDUINO\"'+\n'}';\n\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\"\n     }\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":463,"wires":[["66da66fa.417eb8"]]},{"id":"66da66fa.417eb8","type":"http request","z":"2baa3588.c4df6a","name":"","method":"POST","ret":"txt","url":"http://agile:8080/api/devices/register","tls":"","x":314,"y":527,"wires":[["47f93eb1.2424e"]]},{"id":"4a4862e4.2a2bbc","type":"inject","z":"8db6415d.da423","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":145,"y":51,"wires":[["12096a2c.497d76"]]},{"id":"12096a2c.497d76","type":"http request","z":"8db6415d.da423","name":"Beacons","method":"GET","ret":"txt","url":"http://agile:8080/api/device/xbee_zigbee0013a2004155bed4/beacon","tls":"","x":280,"y":178,"wires":[["95556c13.3838"]]},{"id":"94589c94.9965c","type":"debug","z":"8db6415d.da423","name":"","active":true,"console":"false","complete":"payload","x":916,"y":541,"wires":[]}]